*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: rgb(158, 183, 183);
}
.container{
    height: 100vh;
}
.row{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.338);
    border-radius: 30px;
}
img{
    border-top-left-radius: 30px;
}

form{
    width:100%;
}
form button{
    outline: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(200deg,rgb(106, 138, 252) 39%,rgb(17, 255, 132) 100%);
    border: none;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}